:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--light-grey: hsl(0, 0%, 87%);
	--main-accent: linear-gradient(to right top, #ffc593, #fbb290, #f3a08f, #e78f91, #d78194, #d2789a, #c970a2, #bc6bac, #b569bf, #a66bd3, #8c70e9, #5a77ff);
}
