@use '../../util'as *;


.header {
    // max-width: 111rem;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.4rem;
    height: 7.2rem;
 
    .camera-photo {
        width: 3rem;
        height: 3rem;
        cursor: pointer;

    }
}