@use '../../util'as *;


.header {
    // max-width: 111rem;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.4rem;
    height: 7.2rem;
 
    &__camera {
        width: 3rem;
        height: 2.5rem;
        cursor: pointer;
    }

    &__btn {
        border: none;
        background: center;
    }
}